<!-- Contenedor del título de la página -->
<div class="custom-heading-container mb-3"><h1>Búsqueda de héroes</h1></div>

<!-- Contiene el input del formulario -->
<div class="form-container">
    <!-- Formulario de búsqueda de héroe -->
    <form class="search-form">
        <mat-form-field class="form-full-width">
            <mat-label>Alias del héroe</mat-label>
            <input type="text" aria-label="Buscador de héroe" matInput [formControl]="inputSearchControl" autocomplete="off" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="seleccionarHeroe()">
                <mat-option *ngFor="let alias of filteredOptions | async" [value]="alias">
                    {{ alias }}
                </mat-option>
                <mat-option value="" *ngIf="!filterData"> Sin resultados con la búsqueda {{ inputSearchControl.value }} </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="inputSearchControl.hasError('required')"> Debe ingresar un alias de héroe </mat-error>
        </mat-form-field>
    </form>
</div>

<!-- Contiene el resultado de la búsqueda -->
<div class="results-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="15px">
    <ng-container *ngIf="heroeSelected">
        <app-hero-card
            class="mt-3"
            [heroe]="heroeSelected"
            fxFlex="0 1 calc(35% - 15px)"
            fxFlex.lt-xl="0 1 calc(35% - 15px)"
            fxFlex.lt-lg="0 1 calc(60% - 15px)"
            fxFlex.lt-md="0 1 calc(80% - 15px)"
            fxFlex.lt-sm="100%"
        ></app-hero-card>
    </ng-container>
</div>
