/* Estilos del buscador */
.form-container {
    display: flex;
    justify-content: center;
}

.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-full-width {
    width: 100%;
}

/* --------------------------- */
